body{
    background-color: #0a0a23;
    font-family: "Anta", sans-serif;
        font-weight: 400;
        font-style: normal;
}

#text{
    background-color: #0a0a23;
    color: #ffffff;
    padding: 10px 10px 10px 10px;
}

#game{
    max-width: 500px;
    max-height: 400px;
    background-color: #ffffff;
    color: #ffffff;
    margin-top: 200px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px 10px 10px;
}

#controls, #stats{
    border: 1px solid #0a0a23;
    color: #0a0a23;
    padding: 5px;
}

  #monsterStats{
        border: 1px solid #0a0a23;
            padding: 5px;
            color: #ffffff;
            background: #c70d0d;
            display: none;
}

.stat{
    padding-right: 10px;
}

button{
    cursor: pointer;
    color: #0a0a23;
    background-color: #feac32;
    background-image: linear-gradient(#fecc4c, #ffac33);
    border: 3px solid #feac32;
}
